:root{
    --light: rgb(252, 223, 181);
    --dark: rgb(255, 212, 152);
    --grey: rgb(66, 66, 66);
    --menu-hover: rgb(185, 141, 73);
    --warning-border: rgb(165, 65, 65);
    --warning: rgb(253, 148, 148);
}

.boxParent
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 0;
    margin: 0;
}
.box
{
    background-color: var(--dark);
    width: 200px;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--grey);
}
.box h3
{
    color: var(--grey);
}
.box p, .box label
{
    color: var(--grey);
    margin-bottom: 3px;
}

.box p a
{
    text-decoration: underline;
    color: var(--grey);
}
.box p a:hover
{
    color: var(--menu-hover);
}

.outputBox
{
    display: flex;
}
.output
{
    background-color: var(--light);
    border: solid;
    border-width: 2px;
    border-color: var(--grey);
    border-radius: 3px;
    height: 18px;
    min-width: 85%;
   resize: vertical;
   font-size: 14px;
}
.outputCopy
{
    width: 20%;
}

.warning
{
    margin-top: 3px;
    background-color: var(--warning);
    border: solid;
    border-width: 2px;
    border-color: var(--warning-border);
    border-radius: 3px;
    min-height: 18px;
    display: none;
}
.textInput
{
    display: inline-block;
    border: solid 1px var(--grey);
    width: 80%;
}